@import './base.css';
.bg-poison {
    width: 26px; height: 26px;
    background: var(--icon-source);
    background-position: -10px -10px;
}

.bg-muddy {
    width: 26px; height: 26px;
    background: var(--icon-source);
    background-position: -56px -10px;
}

.bg-ice {
    width: 26px; height: 26px;
    background: var(--icon-source);
    background-position: -10px -56px;
}

.bg-effluvium {
    width: 26px; height: 26px;
    background: var(--icon-source);
    background-position: -56px -56px;
}

.bg-webbed {
    width: 26px; height: 26px;
    background: var(--icon-source);
    background-position: -102px -10px;
}

.bg-frenzy {
    width: 26px; height: 26px;
    background: var(--icon-source);
    background-position: -102px -56px;
}

.bg-defensedown {
    width: 26px; height: 26px;
    background: var(--icon-source);
    background-position: -10px -102px;
}

.bg-water {
    width: 26px; height: 26px;
    background: var(--icon-source);
    background-position: -56px -102px;
}

.bg-dragon {
    width: 26px; height: 26px;
    background: var(--icon-source);
    background-position: -102px -102px;
}

.bg-paralysis {
    width: 26px; height: 26px;
    background: var(--icon-source);
    background-position: -148px -10px;
}

.bg-frostblight {
    width: 26px; height: 26px;
    background: var(--icon-source);
    background-position: -148px -56px;
}

.bg-sleep {
    width: 26px; height: 26px;
    background: var(--icon-source);
    background-position: -148px -102px;
}

.bg-thunder {
    width: 26px; height: 26px;
    background: var(--icon-source);
    background-position: -10px -148px;
}

.bg-bubbleblight {
    width: 26px; height: 26px;
    background: var(--icon-source);
    background-position: -56px -148px;
}

.bg-bleeding {
    width: 26px; height: 26px;
    background: var(--icon-source);
    background-position: -102px -148px;
}

.bg-blastblight {
    width: 26px; height: 26px;
    background: var(--icon-source);
    background-position: -148px -148px;
}

.bg-hellfireblight {
    width: 26px; height: 26px;
    background: var(--icon-source);
    background-position: -194px -10px;
}

.bg-fire {
    width: 26px; height: 26px;
    background: var(--icon-source);
    background-position: -194px -56px;
}

.bg-stun {
    width: 26px; height: 26px;
    background: var(--icon-source);
    background-position: -194px -102px;
}

.bg-stench {
    width: 26px; height: 26px;
    background: var(--icon-source);
    background-position: -194px -148px;
}