@import './base.css';

#app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--dark-link-color);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(34, 90%, 53%, 0.2);
  }
}

@media (min-width: 1024px) {
  html, body {
    height: 100%;
  }

  body {
    display: flex;
    align-items: flex-start;
    justify-items: center;
  }
}
