version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: monhundle_db
    restart: always
    environment:
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: D3vP4ssw0rd
      POSTGRES_DB: monhundle_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
