name: Backend - Build & test 

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: dotnet restore ./src/monhundle 

    - name: Build
      run: dotnet build ./src/monhundle --no-restore

    - name: Test
      run: dotnet test ./src/monhundle --no-build --verbosity normal

  update-docker:
    needs: test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src/monhundle

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKER_AUTH_TOKEN }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build and push docker image
        run: |
          docker build -t brycur/monhundle:${{ vars.DOCKER_VERSION_TAG}} .
          docker push brycur/monhundle:${{ vars.DOCKER_VERSION_TAG}}


