name: Build & test backend

on:
  push:
    branches: [ "main", "release/**" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: dotnet restore ./src/monhundle 

    - name: Build
      run: dotnet build ./src/monhundle --no-restore

    - name: Test
      run: dotnet test ./src/monhundle --no-build --verbosity normal
